

/*main button*/
.main-btn{
    background-color: var(--background-color);
    color:var(--button-color); 
    width: 8rem;
     font-family: var(--heading-font);
     transition: 0.3s ease;
    }
    .main-btn:hover{
        background-color:var(--button-color);
        color: white;
      
        }
/* start landing */
.landing {
    background-image: url(../utilities/imgs/WhatsApp\ Image\ 2024-11-30\ at\ 22.32.43_c1105b65.jpg);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
    width: 100%;
    color: black;
}
.landing .text h1{
    font-family: var(--heading-font);
    font-size: 4rem;
}
.landing .text h6{
    font-family: var(--heading-font); 
    font-size: 1.2rem;
}
.landing .heading{
    font-weight:600;
    font-family: var(--heading-font);
}



.landing p{
    max-width: 350px;
    font-family: var(--text-font);
}


/* end landing */
/* 
******************************* */
/* start brands */

.brands{
    background-color: white;
}
.border {
    border: 2px solid var(--text-color);
    padding: 15px; 
    border-radius: 10px; 
}
.carousel-indicators  {
    bottom: -50px; 
    background-color: white;
}


.carousel-indicators button:focus {
    background-color:var(--button-carousel);
}
/* End brands */


   /* start products */
   .main-title::after{
    content: '';
    width: 50px;
    height: 0.1rem;
    background-color: var(--button-carousel); 
    position: absolute;
    bottom: -10px;  
     left:50%;
    transform:translateX(-50%);
     
}
.products .text {
    font-family: var(--heading-font); 
    font-size: 2.8rem;
}
.product .text{
    font-family: var(--heading-font); 
    font-size: 2.8rem;
}
    

.cartt-icon {
    width: 40px; 
    height: 40px;
    transition: all 0.5s ease; 
    opacity: 0;
   
}

.image-container:hover .cartt-icon {
    opacity: 1; 
    transform: scale(1.2);
}



/* start Unique */
 
.Unique h1{
    max-width: 80px;
}
.Unique p{
    max-width: 400px;
    font-family: var(--heading-font); 
}
.Unique .text {
    font-family: var(--heading-font); 
    font-size: 3rem;
}

/* End Unique */
 
.products .box .image-container {

   
    transition:  transform 0.8s ease; 

}

************************************


.products .box .img1:hover {
    cursor: pointer;
    content: url("../utilities/imgs/ring36.jpg");
}

 .products .box .img2:hover {
    cursor: pointer;
    content: url("../utilities/imgs/ring20.jpg");

  
}

.products .box .img3:hover {
    cursor: pointer;
    content: url("../utilities/imgs/ring26.jpg");
   
}

.products .box .img4:hover {
    cursor: pointer;
    content: url("../utilities/imgs/ring31.jpg");

} 



/* ********************* */
.box {
    position: relative;
    overflow: hidden; /
}


.product .box img {
    transition:  transform 0.8s ease; 
}


.product .box img:hover {
    transform: scale(1.1); 
}


.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-align: center;
    padding: 10px;
    z-index: 1; 
    font-family: var(--heading-font); 

}

   /* End Products */

/* start business */
.business{
    margin-top: 6rem;
    height:44rem;
}
   .business .decription {
    max-width: 500px; 
    font-family: var(--heading-font);
    font-size: 1.2rem; 
      
}
.business .text{
    font-family: var(--heading-font); 
    font-size: 3rem;
}
.business .text1{
    font-family: var(--heading-font); 
    font-size: 1.8rem;
}


.nav-item:hover .dropdown-menu {
    display: block;
}

/* End business */


/* .products .image-container a .hover1:hover{
    content:url(/client/utilities/imgs/ring-01-b-400x500.jpg)
}

.products .image-container a .hover2:hover{
    content:url(/client/utilities/imgs/ring-02-c-400x500.jpg)
}
.products .image-container a .hover3:hover{
    content:url(/client/utilities/imgs/ring-03-b-400x500.jpg)
}
.products .image-container a .hover4:hover{
    content:url(/client/utilities/imgs/ring-04-b-400x500.jpg)
}
.products .image-container a .hover10:hover{
    content:url(/client/utilities/imgs/earrings-02-b-400x500.jpg)
}
.products .image-container a .hover12:hover{
    content:url(/client/utilities/imgs/earrings-04-b-400x500.jpg)
}
.products .image-container a .hover8:hover{
    content:url(/client/utilities/imgs/necklace-04-b-400x500.jpg)
}
.products .image-containera .hover13:hover{
    content:url(/client/utilities/imgs/necklace-06-b-400x500.jpg)
} */