:root {
    --background-color: rgb(250, 245, 240);
    --heading-font: 'Cinzel', serif;
    --text-font: 'Roboto', sans-serif;
    --text-color: rgba(0, 0, 0, 0.7);
    --highlighted-text-color: rgb(168, 110, 59);
}
.sidebar .nav-link.active {
    color:var(--highligted-text-color)
  }
.order{
    margin-top: 30px;
    padding-bottom: 10rem;
    width: 100%;
    word-wrap: break-word; 
}

thead {
    background-color: var(--background-color);
    color: var(--text-color);
}


tbody tr:nth-child(odd) {
    background-color: var(--highlighted-text-color);
}

tbody tr:nth-child(even) {
    background-color: var(--background-color);
}

.no-orders {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: bold;
}
