:root {
    --background-color: rgb(250, 245, 240);
    --heading-font: 'Cinzel', serif;
    --text-font: 'Roboto', sans-serif;
    --text-color: rgba(0, 0, 0, 0.7);
    --highlighted-text-color: rgb(168, 110, 59);
}

.cart-section {
    
    padding: 20px;
    border-radius: 10px;
 
    font-family: var(--text-font);
}

.cart-section .title {
    font-family: var(--heading-font);
    color: var(--highlighted-text-color);
}


.headtable {
    background-color: var(--background-color);
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s;
}

.table-bordered {
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.table td, .table th {
    vertical-align: middle;
    font-size: 0.95rem;
}

.table tbody tr td {
    text-align: center;
    color: var(--text-color);
    font-style: var(--text-color);
}



@media (max-width: 768px) {
    .table {
        font-size: 0.85rem;
    }
}
